<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">
        {% feed_meta %}
        {% seo %}
    </head>

    <body>
        <div class="wrapper">
            <header class="site-header">
                <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
            </header>

            <main class="page-content" aria-label="Content">
                {{ content }}
            </main>

            <footer class="site-footer">
                {%- if page.subscribe or page.layout=="post" -%}
                    <p class="rss-subscribe">Want more? Subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
                {%- endif -%}
            </footer>
        </div>
    </body>
</html>
